#login-wrapper {
    display: flex;
    width: 100%;
    height: calc(100vh - 160px);
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.auth-form {
    position: relative;
    width: 400px;
    height: 600px;
    padding: 40px;
    box-sizing: border-box;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: 0.5s;
}

.auth-form:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

#login-container {
    background-color: white;
}

#signup-container {
    background-color: var(--element-dark);
}

#login-form-title {
    position: absolute;
    top: 20px;
    left: -40px;
    width: 120px;
    height: 40px;
    background-color: var(--element-dark);
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#login-form-title::before {
    content: '';
    display: flex;
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-top: 30px solid var(--secondary-color);
    border-right: 0 solid var(--secondary-color);
    border-bottom: 0;
}

#login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 20px;
}

#login-form > h1 {
    margin: 20px auto;
    font-weight: bold;
    color: var(--tertiary-color);
}

.form-input {
    display: flex;
    width: 100%;
    height: 50px;
    padding-left: 15px;
    box-sizing: border-box;
    outline: none;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-size: 15px;
}

.submit-button {
    margin-top: 15px;
    border: none;
    background-color: #199cff;
    transition: 0.5s;
    cursor: pointer;
    width: 100%;
    height: 50px;
}

.submit-button:hover {
    transform: translateY(4px);
}

#signup-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#signup-form > div {
    flex-direction: row;
    gap: 20px;
}

#file-upload {
    position: relative;
    display: flex;
    width: 60px;
    height: 60px;
    background-color: var(--element-medium);
}

#file-input {
    display: none;
}

#file-input-label {
    display: flex;
    width: 60px;
    height: 60px;
}

#profile-picture {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
}